---
import Layout from '../layouts/Layout.astro';
---

<Layout title='QrCode prevention'>
	<h1>Oops, seems like you openned a random QrCode </h1>
	<!-- like <span id="visitors">X</span> persons</h2> -->
	<h2>It could have gone really wrong, but you are safe now.</h2>
	<p>You need to be careful when scanning QrCodes, they can be used to steal your data, or even worse, to install malware on your device.</p>
	
	<h2>Here is some articles about QrCode security</h2>
	<!-- TODO Mettre de vrais liens -->
	<ul>
		<li><a href="https://www.comparitech.com/blog/information-security/qr-code-security-risks/">https://www.comparitech.com/blog/information-security/qr-code-security-risks/</a></li>
		<li><a href="https://www.csoonline.com/article/3574984/qr-codes-are-being-abused-by-digital-criminals.html">https://www.csoonline.com/article/3574984/qr-codes-are-being-abused-by-digital-criminals.html</a></li>
		<li><a href="https://www.bleepingcomputer.com/news/security/android-malware-uses-qr-codes-to-steal-your-banking-info/">https://www.bleepingcomputer.com/news/security/android-malware-uses-qr-codes-to-steal-your-banking-info/</a></li>
		<li><a href="https://www.forbes.com/sites/zakdoffman/2020/07/12/qr-code-warning-why-you-should-not-use-qr-codes/">https://www.forbes.com/sites/zakdoffman/2020/07/12/qr-code-warning-why-you-should-not-use-qr-codes/</a></li>
	</ul>
	<p>Stay safe, and don't open random QrCodes.</p>
	<img src="/rickroll.gif" alt="Rick"  height="400"/>	
	
</Layout>

<script>
	/**
	 * Redirect to cat page with 0.1% chance
	 */
	function redirectToCat() {
		const random = Math.floor(Math.random() * 1000);
		if (random < 1) {
			window.location.href = window.location.href + "cat";
		}
	}

	redirectToCat();
</script>
