---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>QrCode Prevention</h1>
	<h2>Oops, seems like you openned a random QrCode like <span id="visitors">X</span> persons</h2>
	<p>It could have gone really wrong, but you are safe now.</p>
	<p>You need to be careful when scanning QrCodes, they can be used to steal your data, or even worse, to install malware on your device.</p>
	
	<h2>Here is some articles about QrCode security</h2>
	<!-- TODO Mettre de vrais liens -->
	<ul>
		<li><a href="https://www.comparitech.com/blog/information-security/qr-code-security-risks/">https://www.comparitech.com/blog/information-security/qr-code-security-risks/</a></li>
		<li><a href="https://www.csoonline.com/article/3574984/qr-codes-are-being-abused-by-digital-criminals.html">https://www.csoonline.com/article/3574984/qr-codes-are-being-abused-by-digital-criminals.html</a></li>
		<li><a href="https://www.bleepingcomputer.com/news/security/android-malware-uses-qr-codes-to-steal-your-banking-info/">https://www.bleepingcomputer.com/news/security/android-malware-uses-qr-codes-to-steal-your-banking-info/</a></li>
		<li><a href="https://www.forbes.com/sites/zakdoffman/2020/07/12/qr-code-warning-why-you-should-not-use-qr-codes/">https://www.forbes.com/sites/zakdoffman/2020/07/12/qr-code-warning-why-you-should-not-use-qr-codes/</a></li>
	</ul>
	<p>Stay safe, and don't open random QrCodes.</p>
	<img src="/rickroll.gif" alt="Rick"  height="400"/>	
	
</Layout>

<script>
	//TODO Change the API	
	async function getRandomNumber() {
		const apiUrl = 'https://cors-anywhere.herokuapp.com/http://www.randomnumberapi.com/api/v1.0/random?min=100&max=100000&count=1';

		try {
			const response = await fetch(apiUrl);
			const data = await response.json();
			console.log('Random Number:', data[0]);
			document.getElementById('visitors').innerHTML = data[0];
		} catch (error) {
			console.error('Error:', error.message);
		}
	}

	getRandomNumber();

</script>
